.Tabs{
      width:80%;
  box-sizing: border-box;
}
.nav{
  margin-top: 5%;
width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    

}
.nav >li{
font-size: 14px;
font-weight: 400;
color: #012A4A;
padding-bottom: 0.6%;
cursor: pointer;
    

}
.nav >li::after{
height: 0;
}

ul.nav li.active{
  border-bottom: 1px solid #DE3D6D;
}
.outlet{
  padding: 4rem 0;
}

.TabContent {
  font-size: 2rem;
}
@media (max-width:668px) {
     .nav{
      display: block;
     text-align: center;
     }
    }
