   .reset_container{
    width: 60%;
   }

   
  
   .reset_FormArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 40px;
    background-color: white;
    width: 600px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 100px auto;
    overflow: hidden;
   }

   .reset_header{
       margin-right: 11rem;
       width: max-content;
   }



   .reset_pass_btn{
    width: 320px;
    height: 50px;
    font-size: 18px;
    background: linear-gradient(92.1deg, #DE3D6D 55.67%, #F5844C 101.51%);;
    outline: none;
    border: none;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
   }

   ::placeholder {
    font-size: 0.8rem;
    width: max-content;
    color: #C4C4C4;
   }











   @media all and (max-width: 980px) {
    

    .reset_FormArea{
    margin-left: 2rem;
    }

    .reset_FormArea{
        margin-right: 20rem;
    }
   }


   @media only screen and (max-width: 600px) {
    .reset_pass_btn{
        width: 220px;
        height: 50px;
        font-size: 18px;
       }

       
       .reset_header{
        margin-left: 4rem;
        font-size: small;
        width: max-content;
    }

    
    

   }

